<div class="navbar-list">
  @for (group of mappedRouteData(); track group.group) {
    @for (route of group.children; track route.path) {
      @let isRouteActive = route.path === activeMasterRoute();
      <a
        [routerLink]="route.path"
        [class.active]="isRouteActive"
        [class.disabled]="!route.children"
        [class.pointer-inactive]="!route.children || isRouteActive"
        [tabindex]="!isRouteActive && route.children ? 0 : -1"
      >
        {{ route.name }}
      </a>
    }
    @if (group.group) {
      <p class="group-name">{{ group.group }}</p>
    }
  }
</div>
